.nav-color{
    background-color: darkcyan;
    height: 7vh;
}

.white{
    color: white !important;
}

.carousel-wrap{
    height: 60vh;
    object-fit: cover;
    margin-top: 7vh;
}
.color-text{
    color: darkcyan ;
}
.wrap-image{
    height: 50vh;
    width: 35vw;
}